{{ define "main" }}
<section class="sobre-mim">
  <div class="container">
    <h1>Sobre Mim</h1>
    <p>Estudante de Engenharia Mecatrônica na Escola Politécnica da USP, eu sou um jovem desenvolvedor, técnico em informática e atleta nas horas vagas...</p>
  </div>

  <!-- Quadro 1 -->
  <div class="projeto quadro" data-images="['/images/poli1.jpg', '/images/poli2.png', '/images/poli3.jpg', '/images/poli4.jpg']">
    <img src="/images/poli1.jpg" alt="Escola Politécnica">
    <h3>Escola Politécnica</h3>
  </div>
  
  <div class="projetos">
    <!-- Quadro 2 -->
    <div class="projeto quadro" data-images="['/images/atletica1.HEIC', '/images/atletica2.jpg', '/images/atletica3.jpg', '/images/atletica4.jpg']">
      <img src="/images/atletica1.HEIC" alt="Atlética">
      <h3>Atlética</h3>
    </div>

  <div class="projetos">
    <!-- Quadro 3 -->
    <div class="projeto quadro" data-images="['/images/atletismo1.jpg', '/images/atletismo2.jpg', '/images/atletismo3.jpg', '/images/atletismo4.jpg']">
      <img src="/images/atletismo1.jpg" alt="Atlética">
      <h3>Atletismo</h3>
    </div>

  <div class="projetos">
    <!-- Quadro 4 -->
    <div class="projeto quadro" data-images="['/images/ciencia1.jpg', '/images/ciencia2.jpg', '/images/ciencia3.jpeg', '/images/ciencia4.jpg']">
      <img src="/images/ciencia1.jpg" alt="Atlética">
      <h3>Iniciação Científica</h3>
    </div>

  </div>
</section>
{{ end }}
