body {
  font-family: 'Arial', sans-serif;
  background-color: #FFEEBC;
  color: #005187;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #005187;
  color: white;
  padding: 10px;
  text-align: center;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  max-width: 1000px;
}

.profile-picture img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.intro-text {
  margin-left: 20px;
}

footer {
  background-color: #005187;
  color: white;
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .intro {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .intro-text {
    margin-left: 0;
  }
}

.logo {
  height: 50px; /* Ajuste para a altura que desejar */
  width: auto; /* A largura será ajustada automaticamente para manter a proporção */
}
