{{ define "main" }}
<section class="sobre-mim specific-sobre">
  <div class="container">
    <!-- Exibe o título definido no arquivo sobre.md -->
    <h1>{{ .Title }}</h1>
    
    <!-- Texto Adicionado -->
    <div class="content">

      <br><br>

      <p class="subtitle">Estudante de Engenharia Mecatrônica na Escola Politécnica da USP, sou um jovem desenvolvedor, técnico em informática e atleta nas horas vagas.</p>
      
      <br><br>

      <p class="subtitle">Nascido no interior da Bahia e criado no interior de Minas Gerais, vim para São Paulo em busca de realizar o curso dos sonhos na faculdade mais renomada do país.</p>
      
      <br><br>

      <p class="subtitle">Antes mesmo de cursar engenharia, já sonhava com meu futuro na área da tecnologia. Por isso, realizei meu ensino médio numa escola técnica, o Instituto Federal do Norte de Minas Gerais - IFNMG, onde fiz o curso de Técnico em Informática, o que me possibilitou aprender muito e ter uma ideia do que faria no futuro.</p>
      
      <br><br>

      <p class="subtitle">Já na faculdade, me envolvi em diversas atividades extracurriculares. Entrei para a equipe de Atletismo da Escola Politécnica, sendo campeão de diversas competições universitárias.</p>
      
      <br><br>

      <p class="subtitle">Entrei também para a entidade que coordena o esporte na POLI, a Associação Atlética Acadêmica Politécnica, onde realizei diversos projetos e organizei muitas competições, o que foi fundamental para meu crescimento profissional e para me auxiliar em minha organização pessoal.</p>
     
      <br><br>

      <p class="subtitle">Além disso, desde o segundo ano da faculdade, ingressei numa iniciação científica no Instituto do Coração do Hospital das Clínicas da Faculdade de Medicina da USP - InCorHCFMUSP. Lá, trabalhei com diversos profissionais da área da tecnologia, tendo como orientador engenheiros já formados.</p>
    
      <br><br>

      <p class="subtitle">Neste projeto, aprendi muito sobre Inteligência Artificial, mais especificamente sobre Redes Neurais (Convolucionais, Siamesas, Recursivas, etc.). Também aprendi a me organizar para entregar projetos no prazo, como é feita a organização de um projeto de grandes proporções e a realizar apresentações periódicas de progresso.</p>
      
      <br><br>

      <p class="subtitle">Hoje, meu maior objeto de estudo e objetivo profissional é me especializar em Aprendizado por Reforço em Robótica, uma das áreas que mais me fascina na Engenharia Mecatrônica.</p>
    </div>
  </div>

  <div class="projetos">
    <!-- Quadro 1 -->
    <div class="projeto quadro" data-images='["/images/poli1.jpg", "/images/poli2.png", "/images/poli3.jpg", "/images/poli4.jpg"]'>
      <img src="/images/poli1.jpg" alt="Escola Politécnica">
      <h3>Escola Politécnica</h3>
    </div>

    <!-- Quadro 2 -->
    <div class="projeto quadro" data-images='["/images/atletica1.jpg", "/images/atletica2.jpg", "/images/atletica3.jpg", "/images/atletica4.jpg"]'>
      <img src="/images/atletica1.jpg" alt="Atlética">
      <h3>Atlética</h3>
    </div>

    <!-- Quadro 3 -->
    <div class="projeto quadro" data-images='["/images/atletismo1.jpg", "/images/atletismo2.jpg", "/images/atletismo3.jpg", "/images/atletismo4.jpg"]'>
      <img src="/images/atletismo1.jpg" alt="Atletismo">
      <h3>Atletismo</h3>
    </div>

    <!-- Quadro 4 -->
    <div class="projeto quadro" data-images='["/images/ciencia1.jpg", "/images/ciencia2.jpg", "/images/ciencia3.jpeg", "/images/ciencia4.jpg"]'>
      <img src="/images/ciencia1.jpg" alt="Iniciação Científica">
      <h3>Iniciação Científica</h3>
    </div>
  </div>
</section>
{{ end }}
