{{ define "main" }}
<main>
  <section class="intro">
    <div class="profile-picture">
      <img src="{{ relURL "images/fotoperfil.jpg" }}" alt="Minha Foto de Perfil">
    </div>
    <div class="intro-text">
      <h2>Bem-vindo ao Meu Portfólio</h2>
      <p>
        Olá! Meu nome é Adevaldo, sou estudante de Engenharia Mecatrônica apaixonado por inovação e soluções tecnológicas. Este site é uma vitrine dos meus projetos, habilidades e interesses. Navegue pelas seções para conhecer mais sobre meu trabalho e meus objetivos!
      </p>
      <p>
        Tenho interesse em áreas como robótica, programação, e machine learning, e sempre busco aplicar minha criatividade para resolver problemas complexos.
      </p>
    </div>
  </section>
</main>
{{ end }}