{{ define "main" }}
<main>
  <section class="intro">
    <div class="profile-picture">
      <img src="{{ relURL "images/corporativo2.png" }}" alt="Minha Foto de Perfil" class="profile-img">
    </div>
    <div class="intro-text">
      <h2 class="main-title">Bem-vindo ao Meu Portfólio</h2>

      <br><br> 

      <p class="subtitle">
        Olá! Meu nome é Adevaldo, sou estudante de Engenharia Mecatrônica e apaixonado por inovação e soluções tecnológicas.
      </p>

      <br><br> 

      <p class="subtitle">
        Tenho interesse em áreas como robótica, programação, e machine learning, e sempre busco aplicar minha criatividade para resolver problemas complexos.
      </p>

      <br><br> 

      <p class="subtitle">
        Explore meus projetos e habilidades!
      </p>
    </div>
  </section>
</main>
{{ end }}
